<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warehouse service</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <h1>Apple warehouse service</h1>
    <a class="h2" th:href="@{/apples}">View apple grades</a>
</div>
<div class="container-fluid text-center">
    <a class="h2" th:href="@{apples/new}">Add new apple</a>
</div>
</body>
</html>