<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All apples</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h1>Management of apples</h1></div>

    <!--/*@thymesVar id="message" type="ru.veresov.controllers.AppleController"*/-->
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>GRADE</th>
                <th>ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="apple : ${applesList}">
                <tr>
                    <td>[[${apple.grade}]]</td>
                    <td>
                        <a class="h5 m-3" th:href="@{'/apples/edit/'+ ${apple.id}}">edit</a>
                        <a class="h5 m-3" th:href="@{'/apples/delete/'+ ${apple.id}}">delete</a>
                        <a class="h5" th:href="@{'/apples/info/'+ ${apple.id}}">about grade</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>