<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update apple</title>
</head>
<h4>Edit apple</h4>
<body>
<form th:method="PATCH" th:action="@{/warehouse/{id}(id=${apple.getId()})}" th:object="${apple}">
    <label for="weight">Enter weight:</label>
    <input type="text" th:field="*{weight}" id="weight"/>
    <br/>
    <label for="color">Enter color:</label>
    <input type="text" th:field="*{color}" id="color"/>
    <br/>
    <label for="grade">Enter grade:</label>
    <input type="text" th:field="*{grade}" id="grade"/>
    <br/>
    <label for="sour">Enter sour:</label>
    <input type="text" th:field="*{sour}" id="sour"/>
    <br/>
    <input type="submit" value="EDIT"/>
</form>
</body>
</html>